.header {
  position: sticky;
  top: 0;
  height: 80px;

  background-color: var(--background-black-opasity);
  z-index: 3;
}

.header__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
}

.header__item {
  margin-right: 130px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__logo-link .logo-path {
  fill: #fcffd4;
  transition: fill 0.3s;
}

.header__logo-link:hover .logo-path {
  fill: var(--may-color);
}

.header__logo-link svg {
  width: 125px;
  opacity: 0.5;
}

.header__logo-link svg:hover {
  transform: scale(1.1);
}

.header__link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: var(--yellow);
  opacity: 0.5;
}

.header__link:hover {
  color: var(--may-color);
  transform: scale(1.1);
}

.header__link::after {
  content: "";
  display: block;
  width: 100%;
  background-color: var(--may-color);
  height: 1px;
  transition: all 0.3s;
  transform: scale(0);
}

.header__link:hover::after {
  transform: scale(1);
}