.reviews{
    padding: 50px 0; 
}

.review__title{
    margin-bottom: 25px;
}

.review{
    padding: 20px;
    margin-bottom: 30px;
    border: 2px solid var(--yellow);
    border-radius: 10px;
}

.review-text{
    padding-bottom: 20px;
    text-align: justify;
    font-family: var(--font-family);
    font-size: 18px;
    color: rgba(252, 255, 212, .5);
    overflow: hidden;
}

.review-subtitle{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 25px;
    color: var(--yellow);
}

